app/config/local.neon
app/config/config.neon
app/config/database.neon
log/*.txt
temp/
vendor/

_doc/
node_modules/
www/files/
.vscode/
.history/
www/dist/
deployment.ini
deployment.log

composer.lock
package-lock.json