parameters:
  components:
#...
    userAclEdit:
      name: 'Editovanie ACL'
      unique: TRUE
      fa_icon: 'user-shield'
    signIn:
      name: 'Formulár pre prihlásenie'
      unique: false
      fa_icon: 'log-in'
#...

services:
# Component UserAcl
  - PeterVojtech\UserAcl\IAdminUserAcl
  - PeterVojtech\UserAcl\EditRoleFormFactory

# Component SignIn
  - PeterVojtech\User\Sign\ISignInControl
  - PeterVojtech\User\Sign\SignInFormFactory