{layout '../@layoutAdmin.latte'}

{block content}
<div class="col-12 col-md-8 mx-auto mt-5">
  <div class="alert alert-danger"role="alert">
    <h4 class="alert-heading">{$info_text[0]}</h4>
    <p>{$info_text[1]}</p>
    <hr>
    <p class="mb-0"><a n:href="User:list" class="alert-link" title="Zoznam užívateľov">Zoznam existujúcich užívateľov</a></p>
  </div>
</div>
