{layout '../@layoutEmpty.latte'}

{block content}
<div class="form-signin">
  <h1 n:block=title class="mb-3 text-center">{_'RegisterForm_h2'}</h1>

  <form n:name=enrollForm >

    <div class="form-group row">
      <div class="col-sm-4 col-form-label align-top text-right">
        <label n:name=email class="required">{_'RegisterForm_email'}</label>
      </div>
      <div class="col-sm-8">
        <input n:name=email class="form-control text"> 
      </div>
      <div class="col-12">
        <div class="font-italic text-right">{_'RegisterForm_email_info'|noescape}</div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-4 col-form-label align-top text-right">
        <label n:name=password class="required">{_'RegisterForm_psswd'}</label>
      </div>
      <div class="col-sm-8">
        <input n:name=password class="form-control text">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-4 col-form-label align-top text-right">
        <label n:name=password2 class="required">{_'RegisterForm_psswd2'}</label>
      </div>
      <div class="col-sm-8">
        <input n:name=password2 class="form-control text">
      </div>
      <div class="col-12">
        <div class="font-italic text-right">{_'RegisterForm_psswd2_info'}</div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-12">
        <input n:name=send class="btn btn-success btn-block" onclick="if( Nette.validateForm(this.form) ) { this.form.submit(); this.disabled=true; } return false;">
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col-6">
      <a class="btn btn-secondary btn-sm" n:href="Sign:in" title="{_'base_homepage'}"><i class="fas fa-home"></i></a>
    </div>
    <div class="col-6 text-right">
      <a class="btn btn-secondary btn-sm" href="{plink Sign:ForgottenPassword}">{_'SignInForm_forgottenPassword'}</a>
    </div>
  </div>
</div>