<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{$title}</title>
		<style> 
			body {
				font: normal 14px Arial, Helvetica, sans-serif;
			}
			.body-div {
				max-width: 800px;
				margin: 0;
				padding: 15px;
				border: 1px solid #afa;
			}
			h2 {
				font-size: 200; 
				margin: 0; 
				padding: 10px 0 18px 0; 
				color: black;
			}
			.big {
				font-size: 150;
			}
			.big a {
				color: #3366cc;
			}
		</style>
	</head>
<body>
	<div class="body-div">
		<h2>{$title}</h2>
		<p>{$first_txt}</p>
		<div class="big">
			<strong>
				<a href="{$link}" title="{$title}">{$title}</a>
			</strong>
		</div>
		<p>{$second_txt}</p>
		<p>{$link}</p>
		<hr />
		<p>
			{$greeting}<br />
			{$site_name}
		</p>
	</div>
</body>
</html>